/* Style for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('register.avif');
}

/* Style for the form */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #afafaf;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the form title */
h2 {
    text-align: center;
}

/* Style for labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Style for text inputs */
input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style for radio buttons */
input[type="radio"] {
    margin-right: 5px;
}

/* Style for submit button */
input[type="submit"] {
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Change submit button color on hover */
input[type="submit"]:hover {
    background-color:  #6f6f6f;
}