<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ADMIN HOME</title>
<link rel=stylesheet type=text/css th:href="@{/AdminHome.css}">
</head>
<body>
<h2>ADMIN HOME</h2>
<form action="NewSong">
<input type="submit" value="ADD SONG">
</form>
<br><br>
  <form action="viewsongs">
<input type="submit" value="VIEW SONG"></form>

<br><br>
<form action="createplaylists">
<input type="submit" value="CREATE PLAYLIST"></form>

<br><br>
<form action="viewplaylists">
<input type="submit" value="VIEW PLAYLIST"></form>
</body>
</html>